{% extends "base.html.twig" %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <a id="add-record" class="btn-floating btn-large waves-effect waves-light right blue">
                   <i class="material-icons">add</i> 
                </a>
                <div class="card-content">
                    <span class="card-title" align="center">Usuarios</span>
                    <table id="usr" class="highlight border datatable">
                        <thead>
                            <tr>
                            <th style="width:20%">Nombre</th>
                            <th style="width:20%">Correo</th>
                            <th style="width:20%">Contrase単a</th>
                            <th style="width:20%">Domicilio</th>
                            <th style="width:20%"></th>
                           
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuarios in content['usuarios'] %}
                            <tr id="'".{{ usuarios.idusuario }}. "'">
                            <td>{{ usuarios.nomusuario }}</td>
                            <td>{{ usuarios.correo }}</td>
                            <td>{{ usuarios.contrase単a }}</td>
                            <td>{{ usuarios.domicilio }}</td>
                            <td>
                              <i class = "material-icons edit" data-id="{{ usuarios['idusuario'] }}" data-nomusr="{{ usuarios['nomusuario'] }}" data-corrusr="{{ usuarios['correo'] }}" data-pwdusr="{{ usuarios['contrase単a'] }}" data-domusr="{{ usuarios['domicilio'] }}">create</i>
                              <i class = "material-icons delete" data-id="{{ usuarios['idusuario'] }}" >delete_forever</i>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!--F o r m u l a r i o        M o d a l-->
   <div class="modal" id="modalReg">
        <div class="modal-content">
            <h4 align="center">Usuarios</h4>
            <br>
            <form method="post" id="frmUsr">
                <div class="row">
                    <div class="input-field s12">
                    <i class="material-icons prefix">account_circle</i>
                        <input type="hidden" id="idusuario" name="idusuario">
                        <input type="text" id="nomusuario" name="nomusuario" class="validate">
                        <label for="nomusuario">Nombre Usuario:</label>
                    </div>
                    <div class="input-field s12">
                    <i class="material-icons prefix">mail</i>
                        <input type="text" id="correousuario" name="correousuario" class="validate">
                        <label for="correousuario">Correo Usuario:</label>
                    </div>
                    <div class="input-field s12">
                    <i class="material-icons prefix">lock_outline</i>
                        <input type="password" id="pwdusuario" name="pwdusuario" class="validate">
                        <label for="pwdusuario">Contrase単a Usuario:</label>
                    </div>
                    <div class="input-field s12">
                    <i class="material-icons prefix">edit_location</i>
                       
                        <input type="text" id="domusuario" name="domusuario" class="validate">
                        <label for="domusuario">Domicilio Usuario:</label>
                         <input type="hidden" id="tipousr" name="tipousr" value=1>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a id="guardar" class="modal-action waves-effect waves-green btn-flat" >Guardar</a>
            </div>
        </div>
   </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
    <script type="text/javascript">
                var insertarUsuario =  '{{ path('catusuario_insertarUsuario' ) }}';
                 var eliminaUsuario =  '{{ path('catusuario_eliminarUsuario' ) }}';
    </script>
    <script type="text/javascript" src="{{ asset('Resources/catalogousr.js') }}"></script>
{% endblock %}