{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %} 

    <div class="carousel">
     <h3 class="blue-text" align="center">Lo más reciente</h3>
                   <div class="carousel-item" href="#1">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{asset('img/b.jpg')}}" width="500">
                                </div>
                                <div class="card-content">
                                   <p align="center"> <a href="#" style="color:#07b8ff;">Sun Is shining</a></p>
                                   <p align="center"><a href="#" style="color:#07b8ff;">Axwell Igrosso</a></p>
                                   <p align="center"> <a href="#" style="color:#07b8ff;">EDM</a></p>
                                </div>
                                </div>
                                </div>
                                <div class="carousel-item" href="#1">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{asset('img/b.jpg')}}" width="500">
                                </div>
                                <div class="card-content">
                                   <p align="center"> <a href="#" style="color:#07b8ff;">Sun Is shining</a></p>
                                   <p align="center"><a href="#" style="color:#07b8ff;">Axwell Igrosso</a></p>
                                   <p align="center"> <a href="#" style="color:#07b8ff;">EDM</a></p>
                                </div>
                                </div>
                                </div>
                                     <div class="carousel-item" href="#1">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{asset('img/b.jpg')}}" width="500">
                                </div>
                                <div class="card-content">
                                   <p align="center"> <a href="#" style="color:#07b8ff;">Sun Is shining</a></p>
                                   <p align="center"><a href="#" style="color:#07b8ff;">Axwell Igrosso</a></p>
                                   <p align="center"> <a href="#" style="color:#07b8ff;">EDM</a></p>
                                </div>
                                </div>
                                </div>
                                     <div class="carousel-item" href="#1">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{asset('img/b.jpg')}}" width="500">
                                </div>
                                <div class="card-content">
                                   <p align="center"> <a href="#" style="color:#07b8ff;">Sun Is shining</a></p>
                                   <p align="center"><a href="#" style="color:#07b8ff;">Axwell Igrosso</a></p>
                                   <p align="center"> <a href="#" style="color:#07b8ff;">EDM</a></p>
                                </div>
                                </div>
                                </div>
                                     <div class="carousel-item" href="#1">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{asset('img/b.jpg')}}" width="500">
                                </div>
                                <div class="card-content">
                                   <p align="center"> <a href="#" style="color:#07b8ff;">Sun Is shining</a></p>
                                   <p align="center"><a href="#" style="color:#07b8ff;">Axwell Igrosso</a></p>
                                   <p align="center"> <a href="#" style="color:#07b8ff;">EDM</a></p>
                                </div>
                                </div>
                                </div>
            </div>
        </section>
        
{% endblock %}
{% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/new.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/login.js') }}"></script>
            <script type="text/javascript">
                var urlprincipal = '{{ path('index_homepage' ) }}';
            </script>
{% endblock %}
