{% extends "base.html.twig" %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
            <form id="frm-acceso" method="post"> 
            <a id="add-record" class="btn-floating btn-large waves-effect waves-light right blue">
                   <i class="material-icons">person_add</i> 
                </a>
                <div class="card-content">
                    <span class="card-title" align="center">Empresas</span>
                    <table id="usrs" class="highlight border datatable">
                        <thead>
                            <tr><th>Nombre</th><th>Direccion</th><th>Correo</th><th>Descripción</th><th>Telefono</th><th></th></tr>
                        </thead>
                        <tbody>
                            
                            

                            <tr id="10"><td>InfoExpo S.C</td><td>Parque bajio 118</td><td>infoexpor@info.com</td><td>Desarrollo de software</td><td>4612304897</td><td>
                              <i class = "material-icons edit" >create</i>
                              <i class = "material-icons delete" >delete_forever</i></td></td></tr>
                        </tbody>
                    </table>
                </div>
            </form>
                
            </div>
        </div>
    </div>
   <!--F o r m u l a r i o        M o d a l-->
   <div class="modal" id="modalRegistro">
       <div class="modal-content">
           <h4>Registro de Usuarios</h4>
           <br>
           <form id="frm-acceso" method="post">
              <div class="row">
                    <div class="input-field col s12">
                       <input type="hidden" id="pk" name="pk">
                       <input type="email" id="correo" name="correo" class="validate">
                       <label for="correo">Correo:</label>
                   </div>
                   <div class="input-field col s12">
                      <input type="text" id="nomusuario" name="nomusuario" class="validate">
                      <label for="nomusuario">Nombre Completo:</label>
                </div>
                <div class="input-field col s5">
                      <input type="password" id="contraseña" name="contraseña" class="validate">
                      <label for="contraseña">Contraseña:</label>
                </div>
                <div class="input-field col s12">
                      <input type="hidden" id="idtipousr" name="idtipousr">
                      <input type="text" id="domicilio" name="domicilio" class="validate">
                      <label for="domicilio ">Domicilio:</label>
                </div>
             </div>
           </form>
       </div>
       <div class="modal-footer">
           <a id="guardar" class="modal-action waves-effect waves-green btn-flat" >Guardar Registro</a>
       </div>
   </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
{% endblock %}