{% extends "base.html.twig" %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <a id="add-record" class="btn-floating btn-large waves-effect waves-light right blue">
                   <i class="material-icons">add</i> 
                </a>
                <div class="card-content">
                    <span class="card-title" align="center">Empresas</span>
                    <table id="empre" class="highlight border datatable">
                        <thead>
                            <tr>
                            <th style="width:20%">Nombre</th>
                            <th style="width:20%">Direccion</th>
                            <th style="width:20%">Correo</th>
                            <th style="width:20%">Descripcion</th>
                            <th style="width:20%">Telefono</th>
                            <th style="width:20%">Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empresa in content['empresa'] %}
                            <tr>
                            <td>{{ empresa.nomempresa }}</td>
                            <td>{{ empresa.dirempresa }}</td>
                            <td>{{ empresa.correoempresa }}</td>
                            <td>{{ empresa.descripempresa }}</td>
                            <td>{{ empresa.telefonoempresa }}</td>
                            <td>
                              <i class = "material-icons edit" >create</i>
                              <i class = "material-icons delete" >delete_forever</i>
                            </td>
                            </tr>
                            {% endfor %}

                           <!-- <tr id="10"><td>InfoExpo S.C</td><td>Parque bajio 118</td><td>infoexpor@info.com</td><td>Desarrollo de software</td><td>4612304897</td>
                           <td>
                              <i class = "material-icons edit" >create</i>
                              <i class = "material-icons delete" >delete_forever</i></td></td></tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!--F o r m u l a r i o        M o d a l-->

 <div class="modal" id="modalRegistro">
       <div class="modal-content">
           <h4>Registro de Usuarios</h4>
           <br>
           <form id="frm-registro" method="post">
              <div class="row">
                    <div class="input-field s12">
                        <input type="hidden" id="pk" name="pk">
                        <input type="text" id="nomempresa" name="nomempresa" class="validate">
                        <label for="nomempresa">Nombre Empresa:</label>
                    </div>
                  <div class="input-field s12">
                        <input type="text" id="dirempresa" name="dirempresa" class="validate">
                        <label for="dirempresa">Direccion Empresa:</label>
                    </div>
                    <div class="input-field s12">
                        <input type="text" id="correoempresa" name="correoempresa" class="validate">
                        <label for="correoempresa">Correo Empresa:</label>
                    </div>
                    <div class="input-field s12">
                        <input type="text" id="descripempresa" name="descripempresa" class="validate">
                        <label for="descripempresa">Descripcion Empresa:</label>
                    </div>
                    <div class="input-field s12">
                        <input type="text" id="telefonoempresa" name="telefonoempresa" class="validate">
                        <label for="telefonoempresa">Telefono Empresa:</label>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a id="guardar" class="modal-action waves-effect waves-green btn-flat" >Guardar</a>
            </div>
        </div>
   </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
    <script type="text/javascript">
                var insertarEmpresa =  '{{ path('cat_empresas_insertarEmpresa' ) }}';
    </script>
    <script type="text/javascript" src="{{ asset('Resources/catalogoEmp.js') }}"></script>
{% endblock %}
