{% extends "base.html.twig" %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
       
            <div class="card">
                <a id="add-record" class="btn-floating btn-large waves-effect waves-light right blue">
                   <i class="material-icons">add</i> 
                </a>
                <div class="card-content">
                    <span class="card-title" align="center">Empresas</span>
                    <table id="empre" class="highlight border datatable">
                        <thead>
                            <tr>
                            <th style="width:20%">ID</th>
                            <th style="width:20%">Nombre</th>
                            <th style="width:20%">Direccion</th>
                            <th style="width:20%">Correo</th>
                            <th style="width:20%">Descripcion</th>
                            <th style="width:20%">Telefono</th>
                            <th style="width:20%">Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empresa in content['empresa'] %}
                            <tr>
                            <td>{{ empresa.idempresa }}</td>
                            <td>{{ empresa.nomempresa }}</td>
                            <td>{{ empresa.dirempresa }}</td>
                            <td>{{ empresa.correoempresa }}</td>
                            <td>{{ empresa.descripempresa }}</td>
                            <td>{{ empresa.telefonoempresa }}</td>
                            <td>
                              <i class = "material-icons edit" data-id="{{ empresa.idempresa }}" data-nom="{{ empresa.nomempresa }}" data-dir="{{ empresa.dirempresa }}" data-corr="{{ empresa.correoempresa }}" data-des="{{ empresa.descripempresa }}"  data-tel="{{ empresa.telefonoempresa }}" >create</i>
                              <i class='material-icons delete' data-id="{{ empresa.idempresa }}">delete_forever</i>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!--F o r m u l a r i o        M o d a l-->

 <div class="modal" id="modalRegistro">
       <div class="modal-content">
           <h4>Control de empresas </h4>
           <br>
           <form id="frm-registro" method="post">
              <div class="row">
                    <div class="input-field s12">
                        <input type="hidden" id="idempresa" name="idempresa">
                        <i class="material-icons prefix">work</i>
                        <input type="text" id="nomempresa" name="nomempresa" class="validate">
                        <label for="nomempresa">Nombre Empresa:</label>
                    </div>
                  <div class="input-field s12">
                        <i class="material-icons prefix">add_location</i>
                        <input type="text" id="dirempresa" name="dirempresa" class="validate">
                        <label for="dirempresa">Direccion Empresa:</label>
                    </div>
                    <div class="input-field s12">
                        <i class="material-icons prefix">email</i>
                        <input type="text" id="correoempresa" name="correoempresa" class="validate">
                        <label for="correoempresa">Correo Empresa:</label>
                    </div>
                    <div class="input-field s12">
                        <i class="material-icons prefix">description</i>
                        <input type="text" id="descripempresa" name="descripempresa" class="validate">
                        <label for="descripempresa">Descripcion Empresa:</label>
                    </div>
                    <div class="input-field s12">
                        <i class="material-icons prefix">dialer_sip</i>
                        <input type="text" id="telefonoempresa" name="telefonoempresa" class="validate">
                        <label for="telefonoempresa">Telefono Empresa:</label>
                    </div>
                    <div class="input-field_col_s12">
                    <i class="material-icons prefix">photo</i>
                    <input type="file" name="addfile" id="addfile">
                    <label for="arch">Foto:</label>
                </div>
                </div>
            </form>
            <div class="modal-footer">
                <a id="guardar" class="modal-action waves-effect waves-green btn-flat" >Guardar</a>
            </div>
            <form id="archivo" style="display:none">
        <input type="file" id="archivo" name ="archivo">
        </form>
        </div>
   </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/catalogoEmp.js') }}"></script>
    <script type="text/javascript">
                var insertarEmpresa =  '{{ path('cat_empresas_insertarEmpresa' ) }}';
    </script>
    <script type="text/javascript">
                var eliminaEmpresa =  '{{ path('cat_empresas_eliminarEmpresa' ) }}';
    </script>
    <script type="text/javascript">
                var editaEmpresa =  '{{ path('cat_empresas_editarEmpresa' ) }}';
    </script>
    
{% endblock %}
