{% extends 'base.html.twig' %}

{% block title %}visitas Generales
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("css/dropzone_up.css") }}">
	<link rel="stylesheet" href="{{ asset("css/jquery.dataTables.min.css") }}">

	<style>
        body {
            background-image: url("{{ asset('img/fondo.jpg') }}");
            background-position: center top;
            background-size: cover;
        }
</style>

{% endblock %}

{% block body %}
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title" align="center">Visitas</span>
					<table id="empresas-table" class="responsive-table">
						<thead>
							<tr>
								<th style="width:20%">Nombre Empresa</th>
                                <th style="width:20%">Correo Empresa</th>
								<th style="width:20%">Fecha de Visita</th>
							</tr>
						</thead>
						<tbody>
							{% for empresa in content['empresas'] %}
								<tr>
                                <td>{{ empresa.nombreempresa }}</td>
								<td>{{ empresa.correo }}</td>
                                <td>{{ empresa.fechavista}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
    {% endblock %}
    {% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('js/dropzone_up.js') }}"></script>
    <script type="text/javascript">var urlEliminar = "{{ path('cat_empresas_eliminarEmpresa') }}";
    var Empresas = {{ content['empresas']|json_encode()|raw }};
    var urlInsertar = "{{ path('cat_empresas_insertarEmpresa') }}";
    var urlActualizar = "{{ path('cat_empresas_editarEmpresa') }}";</script>
    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables_.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/catalogoEmp.js') }}"></script>
    {% endblock %}
