{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %} 
 <div class="row">
        <div class="col 12 m4 offset-m4">
            <div class="card">
            <div class="card-image" align="center">
            <img  src="{{asset('img/login.jpg')}}" >
                        <span align="center" class="card-title">
                            <h5>Control de Acceso</h5>
                            </span>
               </div>    
                <div class="card-content">
                
                    <br>
                    <form id="frm-acceso" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                               
                                <input type="email" id="corr" name="corr" class="validate">
                                <label for="correo">Correo electronico:</label>
                            </div>
                            <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                                <input type="password" id="contra" name="contra" class="validate">
                                <label for="contra">Contraseña:</label>
                            </div>
                            <div class="input-field col s12 offset-m4">
                                <a id="un_lock" class="btn-floating btn-large waves-effect waves-light blue" >
                                    <i class="material-icons">lock_open</i>
                                </a>
                                <a id="add_record" class="btn-floating btn-large waves-effect waves-light blue" >
                                    <i class="material-icons">person_add</i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     
    </div>
   <!-- Ventana Modal -->
   <div class="modal" id="modalReg">
        <div class="modal-content">
            <h4 align="center">Usuarios</h4>
            <br>
           <form method="post" id="frmUsr">
                <div class="row">
                    <div class="input-field s12">
                    <i class="material-icons prefix">account_circle</i>
                        <input type="hidden" id="idusuario" name="idusuario">
                        <input type="text" id="nomusuario" name="nomusuario" class="validate">
                        <label for="nomusuario">Nombre Usuario:</label>
                    </div>
                    <div class="input-field s12">
                    <i class="material-icons prefix">mail</i>
                        <input type="text" id="correo" name="correo" class="validate">
                        <label for="correo">Correo Usuario:</label>
                    </div>
                    
                    <div class="input-field s12">
                    <i class="material-icons prefix">edit_location</i>
                        <input type="text" id="domicilio" name="domicilio" class="validate">
                        <label for="domicilio">Domicilio Usuario:</label>
                    </div>
                    <div class="input-field col s6">
                    <i class="material-icons prefix">lock_outline</i>
                        <input type="hidden" id="tipousr" name="tipousr">
                        <input type="password" id="contraseña" name="contraseña" class="validate">
                        <label for="contraseña">Contraseña Usuario:</label>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a id="guardar" class="modal-action waves-effect waves-green btn-flat" >Guardar</a>
            </div>
        </div>
   </div>
{% endblock %}
{% block javascripts %}
            
            <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
            <script type="text/javascript">
                 var validacion = '{{ path('login_homepage' ) }}';
                 var insertarUsuario =  '{{ path('login_insertarUsuario' ) }}';
            </script>
            <script type="text/javascript" src="{{ asset('Resources/login.js') }}"></script>
            
{% endblock %}